action="mqtt,xmpp,xbmc"
binding="airquality,nest,network,tplinksmarthome,samsungtv,astro,onkyo,yahooweather"
felix.fileinstall.filename="file:/C:/OpenHAB2/userdata/etc/org.openhab.addons.cfg"
legacy="true"
misc="gcal1,openhabcloud"
package="standard"
persistence="influxdb"
remote="true"
service.pid="org.openhab.addons"
transformation="javascript,jsonpath,scale,map,xpath,xslt,exec,regex"
ui="basic,paper,habpanel,homebuilder,habmin,classic"
