felix.fileinstall.active.level="90"
felix.fileinstall.dir="C:\\OpenHAB2/addons"
felix.fileinstall.filename="file:/C:/OpenHAB2/userdata/etc/org.apache.felix.fileinstall-deploy.cfg"
felix.fileinstall.log.level="3"
felix.fileinstall.poll="10000"
felix.fileinstall.start.level="80"
felix.fileinstall.subdir.mode="skip"
felix.fileinstall.tmpdir="C:\\OpenHAB2\\userdata/tmp/bundles"
service.factoryPid="org.apache.felix.fileinstall"
service.pid="org.apache.felix.fileinstall.287bbb87-7b85-443a-ae86-361f37d49a87"
